<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.awsomeproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@drawable/logo"
      android:roundIcon="@drawable/logo"
      android:supportsRtl="true"
      android:usesCleartextTraffic="true"
      android:allowBackup="false"
      android:theme="@style/Theme.PoseEstimation">
<!--      android:requestLegacyExternalStorage="true">-->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleInstance"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    <activity android:name=".screenReceiverActivity"
        android:exported="true"
        android:screenOrientation="landscape"
        android:launchMode="singleInstance"
        android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>/>-->
    </activity>
        <activity
            android:name=".socketconnect.screenprojection.screen_sender_connectView"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>/>-->
        </activity>
        <activity
            android:name=".socketconnect.connectview.hostviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>/>-->
        </activity>
        <activity
            android:name=".socketconnect.connectview.slaveviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>/>-->
        </activity>
        <activity
            android:name=".SenderActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleInstance"
            android:exported="true" >
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>/>-->
        </activity>
        <activity
            android:name=".ReceiverActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleInstance"
            android:exported="true" >
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>/>-->
        </activity>
      <activity
          android:name=".CameraActivity"
          android:screenOrientation="landscape"
          android:launchMode="singleInstance"
          android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
      </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.screenCaptureService"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
